header.page-header(style="background-image: url('img/content/header-bg.jpg')")
  .container

    .page-header__top
      a(href="").page-header__logo 
        +icon("logo", 115, 76)

      a.page-header__phone(href="tel:88005005050") 8 800 500 50 50
      
      a.page-header__call(href="/") call to order

    nav.main-nav
      ul.main-nav__list
        li.main-nav__item
          a(href="/") Home
        li.main-nav__item
          a(href="/") About Us
        li.main-nav__item
          a(href="/") Gallery 
        li.main-nav__item
          a(href="/") Consultation
        li.main-nav__item
          a(href="/") Testimonials
        li.main-nav__item
          a(href="/") Contacts
                       