section.section.best#about
  .container
    .best__motto Miami best Realry
      span &mdash;<br>this
    .best__text 
      p <b>Over 50 years experience in love</b>.<br>Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical.
      ol
        li The market leader in real estate since 2003
        li Awards Real Estate Company, 2010, 2011, 2013
        li More than 200 satisfied customers premium segment
        li We focus only on new buildings and high-level doskanalno know this area better than other specialists.
        li Working directly with developers - so have more useful information about the profitable deals
      p 
        b We will never late!<br>Guaranteed secure transaction - 100%
  
section.section.gallery#gallery
  .container
    h2.section__title Gallery
      +icon("decor", 20, 13)

    article.apart
      .apart__photos
        .apart__photo.apart__photo--wide(style="background-image: url('img/content/apart-1.jpg')")
        .apart__photo.apart__photo--short(style="background-image: url('img/content/apart-2.jpg')")
      h2.apart__title Marina Palms / 
        span North Miami Beach, FL 33162

    article.apart
      .apart__photos
        .apart__photo(style="background-image: url('img/content/apart-3.jpg')")
        .apart__photo(style="background-image: url('img/content/apart-4.jpg')")
      h2.apart__title Edition Residens / 
        span Miami Beach, FL 33139

    article.apart
      .apart__photos
        .apart__photo.apart__photo--short(style="background-image: url('img/content/apart-5.jpg')")
        .apart__photo.apart__photo--wide(style="background-image: url('img/content/apart-6.jpg')")
      h2.apart__title Faena House / 
        span Miami Beach, FL 33140

    .section__bottom
      a(href="/").btn.btn--inline View All 

section.section.consultation#consult
  .container
    h2.section__title Consultation
      +icon("decor", 20, 13)
    .section__left.textual
       h2 How long have<br>you do yourself a gift?
       p The procedural change mezzo forte starts izoritmichesky pickup at these moments stop LA Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical
    .section__right
      form(action="/" method="POST")
        .form__field
          input(type="text" name="name" class="input" placeholder="Name")
        .form__field
          input(type="text" name="phone" class="input" placeholder="Phone")
        .form__field
          input(type="text" name="email" class="input" placeholder="Email") 
        .form__submit
          button(type="button").btn Consultation

section.section.testimonials#testi
  .container
    h2.section__title Testimonials
      +icon("decor", 20, 13)
    .testimonials__list
      .person
        .person__photo
          img(src="img/content/1.jpg", width="147" alt="")
        h3.person__name Stev Joni
        .person__position Founder Apple
          i Stev Joni
        .person__descr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, unde.
      .person
        .person__photo
          img(src="img/content/2.jpg", width="147" alt="")
        h3.person__name Алишер Усмановы
        .person__position
          i УралСталь
        .person__descr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, unde.
      .person
        .person__photo
          img(src="img/content/3.jpg", width="147" alt="")
        h3.person__name Алексей Мордашов
        .person__position
          i Газпром
        .person__descr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, unde.

section.section.contact#contacts
  .container
    h2.section__title Contact
      +icon("decor", 20, 13)
    .section__left
      a(href="mailto:hello@miami.com") Hello@miami.com
      p 8 800 678 78 78<br>
        | 8 800 700 98 98
      p 400 first ave. n. suite 700 Minneapolis, MN 55401

    .section__right
      form(action="/" method="POST")
        .form__field
          input(type="text" name="name" class="input" placeholder="Name")
        .form__field
          input(type="text" name="phone" class="input" placeholder="Phone")
        .form__field
          input(type="text" name="email" class="input" placeholder="Email") 
        .form__submit
          button(type="button").btn Write To Us